extends ..\\layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="\\admin\\createTest") Create Test Template
    li
      a(href="\\admin\\editDeleteTest") Edit/Delete Test Template  
    br
    li
      a(href="\\admin\\createMeasurement") Create Measurement Template
    li
      a(href="\\admin\\editDeleteMeasurement") Edit/Delete Measurement Template
    
