extends ..\\layout

block content
  h1= title
  
  
  h2 Instrument Network Status
  #instrumentPanel
    each instrument in instruments
      ul
        li=(instrument.address).replace('TCPIP0::', '')
        if ((instrument.deviceReading).includes('Error:') === true)
          li.error=(instrument.deviceReading).replace(/,/g, ', ')
        else 
          li.positive=(instrument.deviceReading).replace(/,/g, ', ')
  br
  br

  div(style='margin-bottom: 6px; max-width: 1000px')
    form#form(action='/runTest/runDMXTest', method='get')
      div(style='display:inline-block; padding-right:3px')
        label(for='white') White:
        br
        input#white(type='text' name='white' value='0')
     
      div(style='display:inline-block; padding-right:3px')
        label(for='red') Red:
        br
        input#red(type='text' name='red' value='0')
      
      div(style='display:inline-block; padding-right:3px')
        label(for='green') Green:
        br
        input#green(type='text' name='green' value='0')
        
      div(style='display:inline-block; padding-right:3px')
        label(for='blue') Blue:
        br
        input#blue(type='text' name='blue' value='0')
      
      div(style='display:inline-block; padding-right:3px')
        label(for='delay') Delay in Minutes:
        br
        input#delay(type='text' name='delay' value='0')
      div(style='display:block; margin-top: 3px')
        button(type='button' onclick='addDMXTest()') Add Test
        br
        br
      h3 Tests to run 
      #testValues
      input#submit(type='submit' value='Run Tests')
  
  h2#Status.hidden Test Progress
  #messageBox
  br
  #buttonBox
    button.hidden(type='button' id='newTestYes' disabled) New Test
    button.hidden(type='button' id='newTestNo' disabled) Finished
    button.hidden(type='button' id='testResultsYes' disabled) Test Results
    button.hidden(type='button' id='printLabel' disabled onclick='print(devFirmware, devWattage, devAddress);') Print Label
    

  append scripts
    script(src="\\javascript\\dmxTest.js")