extends ..\\layout
include ..\\mixins\measurementInfo-mixin.pug
include ..\\mixins\testInfo-mixin.pug

block content
  h1 Database Search
  form(action='\\runTest\\searchTestResults\\export', method='post')
    .ui-widget
      p Select any, all, or no search parameters.  

      input(id='BoardIdHolder',type='hidden', value=BoardIds)
      label(for='BoardIdInput') Board Id:
      input(id='BoardIdInput', name='BoardIdInput')    
      br
      br
      input(id='FirmWaresHolder',type='hidden', value=FirmWares)
      label(for='FirmWaresInput') Firmware:
      input(id='FirmWaresInput', name='FirmWaresInput')
      br
      br
      input(id='WattagesHolder',type='hidden', value=Wattages)
      label(for='WattagesInput') Wattage:
      input(id='WattagesInput', name='WattagesInput')
      br
      br
      label(for='StartDate') Start Date:
      input(id='StartDate', type='date', name='StartDate')
      br
      br
      label(for='EndDate') End Date:
      input(id='EndDate', type='date', name='EndDate')
    br
    input(type="submit", value="Get Tests")
  br
  h1 Single Test  
  .ui-widget
    label(for='singleTest') Test Number:
    input(id='singleTest', name='singleTest')
  br
  button(id='btn-submit') See Results
    //- input(type="button", value="See Results")

  append scripts
    script(src="\\javascript\\searchTestResults.js")
