extends layout

block content
  h1 Board Testing Interface
  
  ul
    li
      a(href="\\runTest") Testing
    li
      a(href="\\admin") Admin
    li
      a(href="\\runTest\\searchTestResults") Test Result Search


