extends layout2

block content
  h1 Board Testing Interface
  
  ul
    li
      a(href="\\runTest") Testing
    br
    li
      a(href="\\runTest\\searchTestResults") Results
    br
    li
      a(href="\\admin") Admin
    


