extends layout2

block content
  h1 Board Testing Interface
  
  ul
    li
      a(href="\\runTest") RDM Testing
    br
    li
      a(href="\\runTest\\dmxTest") DMX Testing
    br
    li
      a(href="\\manual") Manual Testing
    br
    li
      a(href="\\runTest\\searchTestResults") Test Results
    br
    li
      a(href="\\admin") RDM Administration
    br
    li
      a(href="\\firmware") Firmware
    
    


