ul
  li
    a(href="/") Home
  li
    a(href="\\runTest") RDM Testing
  li
    a(href="\\runTest\\dmxTest") DMX Testing
  li
    a(href="\\manual") Manual Testing
  li
    a(href="\\runTest\\searchTestResults") Test Results
  li
    a(href="\\admin") RDM Administration
  li
    a(href="\\firmware") Firmware