ul
  li
    a(href="/") Home
  li
    a(href="\\runTest") Automated Testing
  li
    a(href="\\manual") Manual Testing
  li
    a(href="\\runTest\\searchTestResults") Test Results
  li
    a(href="\\admin") Administration