mixin sendDacBccu()    
    label.pr-small(for='Dac0') Dac0:
    input.mr-small(type='number', name='Dac0', required)
    label.pr-small(for='Bccu0') Bccu0:
    input.mr-small(type='number', name='Bccu0', required)
    br
    label.pr-small(for='Dac1') Dac1:
    input.mr-small(type='number', name='Dac1', required)
    label.pr-small(for='Bccu1') Bccu1:
    input.mr-small(type='number', name='Bccu1', required)
    br
    label.pr-small(for='Dac2') Dac2:
    input.mr-small(type='number', name='Dac2', required)
    label.pr-small(for='Bccu2') Bccu2:
    input.mr-small(type='number', name='Bccu2', required)
    br
    label.pr-small(for='Dac3') Dac3:
    input.mr-small(type='number', name='Dac3', required)
    label.pr-small(for='Bccu3') Bccu3:
    input.mr-small(type='number', name='Bccu3', required)
    br
    br
    input.mr-small(type='submit', value='Submit')